{
  "extends": ["plugin:unicorn/recommended", "prettier", "prettier/unicorn"],
  "plugins": ["prettier", "unicorn"],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
